* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    font-family: Arial, sans-serif;
    background-color: #b8b7b7;
    margin: 0;
    padding: 20px;
}
#capa {
    margin: 25px;
}
h1, h2, h3, p {
    text-align: center;
}
h1, h2, h3 {
    margin: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    background-color: #fff;
    border-style: black 1px;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

th {
    background-color: #f8f8f8;
}
div {
    padding: 20px;
    background-color: white;
    border: 1px solid black;
}